.icon-Activity-1:before {
    content: "\e900";
  }
  .icon-Box:before {
    content: "\e901";
  }
  .icon-Calendar:before {
    content: "\e903";
  }
  .icon-Clock:before {
    content: "\e904";
  }
  .icon-Cogwheel:before {
    content: "\e905";
  }
  .icon-search:before {
    content: "\e906";
  }
  .icon-chat:before {
    content: "\e909";
  }
  .icon-notifications-outline:before {
    content: "\e908";
  }
  .icon-dashboard1:before {
    content: "\e902";
  }



  
  
  